:root,
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #004eff;
  --md-primary-fg-color--light: #3371ff;
  --md-primary-fg-color--dark: #003bcc;
  --md-accent-fg-color: #004eff;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #3371ff;
  --md-primary-fg-color--light: #5c8fff;
  --md-primary-fg-color--dark: #004eff;
  --md-accent-fg-color: #3371ff;
}
